server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:georgeauth;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=LEGACY
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
app:
  jwt:
    secret: my-very-secure-secret-key-123456789123456
    expiration-ms: 3600000

client-service:
  url: http://localhost:8080